body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
h1 {
    color: lightseagreen;
}
.friend{
    background-color: lightsalmon;
}
.friend h3{
    text-transform: uppercase;
}